<%- include("header"); -%>

<nav class="black" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="index" class="brand-logo white-text">Reviewverse</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Navbar Link</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div id="index-banner" class="parallax">
      <h2 class="header center indigo-text">Search results for:</h2>
      <h3 class="header black-text" style="text-align: center;"><%= movie_search %></h3>
      <div class="row center">
  </div>
</div>

<ul style="text-align: center;">
  <% var count = 0 %>
  <% for(var i=0;i<movies.length;i++){ %>
    <% if(movies[i] < 48 || movies[i] > 57){ %> 
    <% if(count == 14){ %>
      <br>
      <% count = 0 %>
    <% } %>
    <% count++ %>
    <% continue %>
    <% } %>
    <%if(movies[i] === 'N' && movies[i+1] === 'a' && movies[i+2] === 'm' && movies[i+3] === 'e'){ %>
      <% break %>
    <% } %>
    <%= movies[i] %>
  <% } %>
</ul>


<%- include("footer"); -%>
