{% extends 'base.html' %}
{% load static %}}

{% block content %}

        <div class="row black-text">
          
          <div class="col s12 m12">
              <div class="card">
                <div class="card-image">
                  <img src="{% static 'img/actor_2.jpg' %}">
                  <img id="img-custom-circle-actor" src="{% static 'img/no_avatar.png' %}">
                  <span style="font-size: 30px" class="card-title"><b>{{ actor }}</b></span>
                </div>
          </div>
        </div>

        <br><br>
        <h4 class="indigo-text">Known for:</h4>
        <div class="divider"></div>

            {% for movie in movie_data %}
          <div class="col s12 m4">
            <div class="card">
              <div class="card-image">
                <a href="{% url 'movie-details' movie.imdbID %}"><img src="{{ movie.Poster.url }}"></a> 
              </div>
              <div class="card-content">
                <span class="card-title"><b>{{ movie.Title }}</b></span>
                <p>{{ movie.Year }}</p>
              </div>
            </div>
          </div>
          {% endfor %}


        {% if movie_data.has_previous %}
          <a href="?page={{ movie_data.previous_page_number }}" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Back</a>
        {% endif %}
  
        {% if movie_data.has_next %}
          <a href="?page={{ movie_data.next_page_number }}" class="waves-effect waves-light btn"><i class="material-icons left">add</i>Load More</a>
        {% endif %}

      </div>

</div>
</div>
{% endblock %}
